<div style="display:flex;">
  <img style="padding:0rem 4rem;" width="50%" src="/assets/img.webp" alt="">
  <img style="padding:0rem 4rem;" width="50%" style="border:2px solid blue" alt=""
    src="https://assets.ayojakarta.com/crop/0x0:0x0/750x500/webp/photo/2023/01/12/1840690279.jpg" />
</div>